body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1c1829;
  overflow: hidden;
  text-align: center;
}

.main-container {
  height: 500px;
  width: 400px;
  padding: 20px;
  border: 4px solid white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-right: 30px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.description {
  text-align: center;
  font-size: 14px;
  color: white;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.button {
  border: 1px solid white;
  border-radius: 3px;
  width: auto;
  padding: 10px;
  height: 40px;
  display: block;
  background: linear-gradient(to right, rgb(135, 255, 253) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.button:hover {
  background-position: left bottom;
}

.text {
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  color: black;
  transition: all 0.6s ease-out;
}

.text:hover {
  color: pink; /* Change text color to pink on hover */
}

.profile-link {
  text-align: center;
}

.profile-link a {
  font-size: 12px;
  color: white;
  text-decoration: none;
  margin-top: 20px;
}

.profile-link a:hover {
  color: white;
  transform: scale(1.1);
  transition: all 0.6s ease-out;

  background: linear-gradient(to right, rgb(135, 255, 253) 100%, white 50%);
}
